
@{
    ViewBag.Title = "Success";
    Layout = null;
}

<h1 class="success" style="padding:10%;color:red;text-align:center">Đơn hàng của bạn đang được xử lý</h1>
<a href="@Url.Action("Index", "Home")" style="color:blue; margin-left:43%;">Bấm vào đây để quay về trang chủ!</a>

