

<div class="breadcumb_area breadcumb-style-two bg-img" style="background-image: url(/Content/template/img/bg-img/BG.png);">

    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Essence Blog</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Blog Wrapper Area Start ##### -->
<div class="blog-wrapper section-padding-80">
    <div class="container">
        <div class="row">

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="~/Content/template/img/bg-img/blog7.jpg" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">Thor is Odin son , king of Asgas , Thor is a avenger , Thor is brother of Loki . But this is a story a tell about Thor girl </a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">We know Thor Odin Son but we don't know Thor Odin girl</a>
                        </div>
                        <p>Thor is Odin son , king of Asgas , Thor is a avenger , Thor is brother of Loki . But this is a story a tell about Thor girl</p>
                        @*<a href="#">Continue reading <i class="fa fa-angle-right"></i></a>*@
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="~/Content/template/img/bg-img/blog8.jpg" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">Gundam super robot of childhoods is comeback . Cooler , stronger , more attractive more war , and more robot .</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">GUNDAM IS COMEBACK</a>
                        </div>
                        <p>Gundam super robot of childhoods is comeback . Cooler , stronger , more attractive more war , and more robot .</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="~/Content/template/img/bg-img/blog9.jpg" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">X-man , Avenger , Justice league . Appears in the same comics . Why not ?</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">X-man , Avenger , Justice league . Appears in the same comics . Why not ?</a>
                        </div>
                        <p>A combination of comic book superhuman from a variety of comic universes combined in a special episode.</p>
                       
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="~/Content/template/img/bg-img/blog10.jpg" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">The man was faster than the rocket</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">Super heroes are the fastest</a>
                        </div>
                        <p>What do you think is running so fast? A car, a plane, a rocket, or the way your old lover turned. No matter how fast you run on Earth, you're a man. His name is Barry Allen, nicknamed Flash.</p>
                        
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="~/Content/template/img/bg-img/blog11.jpg" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">A female superhero expresses feminism</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.</p>
                     
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-50">
                    <img src="~/Content/template/img/bg-img/blog6.jpg" alt="">
                    <!-- Post Title -->
                    <div class="post-title">
                        <a href="#">Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada</a>
                    </div>
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Post Title -->
                        <div class="hover-post-title">
                            <a href="#">Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.</p>
                        <a href="#">Continue reading <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


